.be_addSvg,
.be_closeSvg,
.be_saveSvg,
.be_trashSvg,
.be_settingsSvg {
   transition: $transition;
   display: block;
   width: 35px;
   height: 35px;
   margin: 0 auto;

   &:hover {
      opacity: 0.5;
   }
}
.be_closeSvg {
   position: absolute;
   right: 1rem;
}

.be_saveSvg {
   position: absolute;
   right: 3.5rem;
}

.be_settingsSvg {
   position: absolute;
   right: 6.2rem;
}
